@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Nike Futura;
   src: url('assets/fonts/Nike-Futura.woff2');
}

html {
   scroll-behavior: smooth;
}

*,
:after,
:before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   overflow-y: overlay;
   line-height: 1.5;
   font-weight: 400;
   font-size: 100%;
   color: #151935;
}

a {
   text-decoration: none;
   color: unset;
}

a:hover {
   color: inherit;
}

input,
select,
textarea {
   outline: none;
   border: none;
   background-color: transparent;
}

table {
   border-collapse: collapse;
   border-radius: 6px;
}

img {
   width: 100%;
   max-width: 100%;
   height: 100%;
   object-fit: cover;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}

ul {
   list-style-type: none;
}

.btn {
   @apply px-4 py-2 font-bold border rounded;
}

.animate-openModal {
   animation: openModal ease-in 0.1s forwards;
}
.animate-closeModal {
   animation: closeModal ease-in-out 0.2s forwards;
}
.animate-width {
   animation: width ease-in-out 0.2s forwards;
}

.appearance {
   appearance: none;
   padding: 0.5rem 1.5rem 0.5rem 0.75rem;
   background-repeat: no-repeat;
   background-position: right 0.5rem center;
   background-size: 1.5em 1.5em;
   background-image: url('assets/images/appearance.svg');
}

.banner {
   background-image: linear-gradient(45deg, #1b1f24 50%, #2b3138 50%);
   background-repeat: repeat;
   background-attachment: fixed;
   height: 100vh;
   color: #263958 0px 5px 15px;
}

@keyframes openModal {
   from {
      top: 40%;
      opacity: 0;
   }
   to {
      top: 25%;
      opacity: 1;
   }
}

@keyframes closeModal {
   from {
      top: 25%;
      opacity: 1;
   }

   to {
      top: 0;
      opacity: 0;
   }
}

@keyframes width {
   from {
      width:0%
   }

   to {
      width: 100%;
   }
}

.item_nav_before{
   position: relative;
}

.item_nav_before::before{
   content: "";
   display: none;
   position: absolute;
   top: 125%;
   left: 0;
   height: 1.7px;
   background-color: #5c5c5c;
   
   animation: width ease-in-out 0.2s forwards;
}



.banner {
   background-image: linear-gradient(45deg, #1b1f24 50%, #2b3138 50%);
   background-repeat: repeat;
   background-attachment: fixed;
   height: 100vh;
   color: #263958 0px 5px 15px;
}

.shadow-scrollTop {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes scaleTopLeft {
   0% {
      transform: scale(700%);
   }
   100% {
      transform: scale(100%);
   }
}

/* Tailwind */
@layer components {
   .flex-center {
      @apply flex items-center justify-center;
   }

   .flex-between-center {
      @apply flex items-center justify-between;
   }

   .flex-column {
      @apply flex flex-col;
   }

   .hr {
      @apply border-0 border-[#d5d6d7] border-solid border-t;
   }

   .input {
      @apply h-[42px] 
        /* bg-gray-200 */
        dark:bg-[#24262d] border border-solid border-gray-400 
        dark:border-[#4c4f52] 
        text-inherit
        font-medium
        /* focus:bg-inherit dark:focus:border-gray-500  */
        focus:border-gray-400
        focus:cursor-text rounded py-1 px-3 dark:text-[#d5d6d7];
   }

   .label_top {
      @apply absolute top-1/2 -translate-y-1/2 left-[13px] text-gray-700 font-normal select-none pointer-events-none duration-200;
   }

   /* .container {
      @apply max-w-[1340px] mx-auto;
   } */

   .before_navbar_item {
      @apply content-[''] absolute -top-[6px] left-0 h-[150%] w-full bg-[#26acbb] rounded-full -z-[1] animate-effectt;
   }

   .skeleton {
      @apply bg-gray-300 rounded animate-pulse;
   }
}
