.scrollbar-hide::-webkit-scrollbar {
   display: none;
}

::-webkit-scrollbar {
   width: 7px;
   height: 5px;
}

::-webkit-scrollbar-track {
   background: #fff;
   display: none;
}

::-webkit-scrollbar-thumb {
   background-color: #555;
   border-radius: 2px;
}

.scrollbar-short::-webkit-scrollbar{
   width: 3px;
}